@charset "UTF-8";
/* CSS Document */
/* STYLE SHEET */

/* ---------------- RESPONSIVE DESIGN ----------------- */
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.col-6 {
	float: left;
	width: 50%;
	
	padding-top: 50px;
	padding-right: 75px;
	padding-bottom: 50px;
	padding-left: 75px;
	
	border-style: solid;
  	border-width: 10px;
	border-color: #FFFFFF;
	

}

.col-12 {
	float: left;
	width: 50%;
	
	padding: 50px;
	
	border-style: solid;
  	border-width: 10px;
	border-color: #FFFFFF;
	
}

/*-------------- HTML TAG STYLES-----------*/
p, ul, li, a, center{
	font-family: 'Roboto', sans-serif;
	color: #000000;
	
}

img{
	width: 100%;
	height: auto;
}

h1{
	font-family: 'Overpass', sans-serif;
  	font-size: 22px;
}

h2{
	font-family: 'Overpass', sans-serif;
  	font-size: 18px;
}

h3{
	font-family: 'Overpass', sans-serif;
  	font-size: 16px;
}

a:link{
	color: #000000;
	text-decoration:underline;
}

a:hover{
	color: #685C79;
	text-decoration: none;
}


/*------------ PAGE SECTIONS---------------------------*/
.row {
 	max-width: 1250px; /* static width container always stays at this width no matter what the window size */
 	margin: 0 auto;
}

#about, #work, #coursework, #project, #skills, #references, #contact{
	padding-top: 50px;
}




/* ----------------- NAVIGATION BAR STYLES -------------------*/ 

.navbar-custom {
    background-color: rgba(104, 92, 121, 1);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #F6F6F6;
}
/*link color */
.navbar-custom .navbar-nav .nav-link {
    color: #F6F6F6;
	text-decoration: none;
}
/*active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #685C79;
	text-decoration: underline;
}	
 
/* -----------------END NAVIGATION BAR STYLES -------------------*/ 


/* ----------------- SLIDESHOW STYLES -------------------*/ 
.carousel{
	min-height: 500px;
	min-width: 100%;
	padding: 150px;
	position: relative;
	background: #F6F6F6;
	
	border-style: solid;
  	border-width: 10px;
	border-color: #FFFFFF;
}

.carousel .carousel-indicators li {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: rgba(104, 92, 121, 0.5);
}

.carousel .carousel-indicators .active {
  background-color: #685C79;
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}

/* ----------------- END SLIDESHOW STYLES -------------------*/ 